@charset "utf-8";
/* CSS Document */
element.style{
	position: relative;
	min-height: 100%;
	top: 0px;
}
body{
	background-color: grey;
	min-width: 1220px;
	margin-left: 50px;
}
body{
	font-size: 20px;
	color: rgba(0,0,0,1.00);
	font-family: 'Dancing Script', cursive;
	line-height: 1.3;
}
a, abbr, acronym, address, article, aside, blockquote,
body, code, dd, del, details, dfn, dialog, div, dl, dt, em, fieldset,
figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html,
iframe, img, label, legend, li, menu, nav, object, ol, p, pre, q, section, span,
summary, ul{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherent;
	vertical-align: baseline;
}
body{
	display: block;
	margin: 8px;
}
html{
	font-size: 100%;
}
html{
	margin: 0;
	padding: 0;
	border: 0;
  box-sizing: border-box;
}
:after, :before{
	box-sizing: border-box;
}
.row {
	padding-left: 60px;
}
.order-list-search #simple-search label {
	padding-right: 70px
}
.order-list-search #advanced-search label {
	padding-right: 70px;
	padding-top: 20px;
}
